* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(217, 100%, 97%);
}

/* the general div */
.gen-container {
    display: flex;
    gap: 2rem;
    border-radius: 10px;
    width: 50%;
    height: 80vh;
    margin: 4rem 0 0 20rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}

/* the div houseing the steps */
.gen-steps {
    background-image: url(./img/bg-sidebar-desktop.svg);
    color: hsl(0, 0%, 100%);
    padding: 2rem 1rem 1rem 2rem;
    margin: 0.6rem 1rem 0 1rem;
    width: 35%;
    height: 95%;
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 5px;
    border: none;
}

#num {
    text-decoration: none;
    height: 30px;
    width: 30px;
    border: 1px solid hsl(206, 94%, 87%);
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: hsl(0, 0%, 100%);
}

/* the steps */
.steps {
    display: flex;
    gap: 0.6rem;
    padding-bottom: 25px;
}

#num:hover,
#num.active {
    background-color: hsl(206, 94%, 87%);
    color: black;
}

.step {
    color: hsl(231, 11%, 63%);
    font-size: 12px;
}

.step-info {
    font-weight: 500;
}

/* personal info */
.per-info {
    padding-top: 32px;
    color: hsl(213, 96%, 18%);
}

.per-parag {
    font-size: 13px;
    color: hsl(231, 11%, 63%);
    padding: 5px 0 30px 0;
}

/* the form part */
.info-form {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.info-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    
}

input {
    height: 40px;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
    border-top: 1px solid black;
    margin-top: 3px;
    outline: none;
    /* background-color: black; */
    /* border: none; */
}

#next-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    position: relative;
    bottom: 80px;
    left: 60rem;
}
#plan-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    position: relative;
    bottom: 80px;
    left: 55rem;
}
#back-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    position: relative;
    bottom: 80px;
    left: 40rem;
}

#next-btn:hover,
#plan-btn:hover,
#back-btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(213, 96%, 18%);
    border: 1px solid hsl(213, 96%, 18%);
}

/* plan page */

.plan-parag {
    font-size: 14px;
    color: hsl(231, 11%, 63%);
    padding: 5px 0 30px 0;
}
.plan-details{
    display: flex;
    gap: 10px;
    margin: 20px;
    border: 1px solid hsl(231, 11%, 63%);
    padding: 20px;
    border-radius: 5px;
}
.plan-p{
    font-size: 20px;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}
.plan-num{
    color: hsl(231, 11%, 63%);
}

.plan-details:hover,
.add-details:hover{
    background-color: hsl(217, 100%, 97%);
    border: 1px solid hsl(213, 96%, 18%);
    border-radius: 5px;

}
.duration{
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* add ones page */
#check{
    width: 8%;
}
.add-parag {
    font-size: 16px;
    color: hsl(231, 11%, 63%);
    padding: 5px 0 30px 0;
}

.add-num{
    color: hsl(231, 11%, 63%);
    font-size: 13px;
}
.add-p{
    font-size: 17px;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}
.add-details{
    display: flex;
    gap: 10px;
    margin: 20px;
    border: 1px solid hsl(231, 11%, 63%);
    padding: 20px;
    border-radius: 5px;
}
.add-details:active{
    background-color: hsl(217, 100%, 97%);
    border: 1px solid hsl(213, 96%, 18%);
    border-radius: 5px;

}
.ppp{
    padding: 10px 0 0 10px;
    color: hsl(231, 11%, 63%);
    font-size: 13px;
}


/* finish page */
.finish-add{
    padding-top: 15px;
    display: flex;
    gap: 150px;
}
a{
    color: hsl(231, 11%, 63%);
    /* text-decoration: hsl(231, 11%, 63%); */
}
.finish-p{
    color: hsl(231, 11%, 63%);
}
.total{
    color: hsl(243, 100%, 62%);
}
.three-finish{
    background-color: hsl(217, 100%, 97%);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* thanks page */
.thanks-info{
    padding-top: 10rem;
    align-items: center;
}
.thanks-parag {
    font-size: 16px;
    color: hsl(213, 96%, 18%);
    padding: 5px 0 30px 0;
    text-align: center;
}
